
@import url('https://fonts.googleapis.com/css?family=Outfit:400,400i,500,500i,700,700i&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap');

.default-dashboard{
    font-family: 'Outfit', sans-serif;
}

.default-dashboard .welcome-card .card-body {
    background: url('/assets/img/bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    border-radius: 5px;
}
.left-background .bg-light {
    background: #F3F3F3 !important;
}
.default-dashboard .welcome-card h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}
.default-dashboard .welcome-card p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #E9E9E9;
}
